@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Roboto:ital,wght@1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: #5B8354;
    width: 1366px;
    height: 500px;
}

.nav {
    display: flex;
    background: #86c238;
    width: 1366px;
    height: 120px;
    
}
.nav h3{
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    margin-left: 30px;
}
.nav img{
    max-width: 70px;
    max-height: 70px;
    width: auto;
    height: auto;
    margin-left: 30px;
}
.imgcontato{
    display:flex ;
    align-items: center;
}

.menu {
    display: flex;
    position: relative;
    top: 10%;
    justify-content: center;
    align-items: center;

}
.menu h4{
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
}
.menu img{
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}
.toin{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    
}
.tonhao{
    display: flex;
    gap: 150px;
    line-height: 10px;
}

.whats{
    display: flex;
    flex-direction: column;
    align-items: center;
    color :white;
    font-family:roboto;
    font-size: 20px;
}

.insta{
    display: flex;
    flex-direction: column;
    align-items: center;
    color :white;
    font-family:roboto;
    font-size: 20px;
}

.face{
    display: flex;
    flex-direction: column;
    align-items: center;
    color :white;
    font-family:roboto;
    font-size: 20px;
}

.footerr{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color :white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.footerr{
    background: #5B8354;
    margin-right: 0px;
}